
@{
    ViewBag.Title = "LoiPhanQuyen";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div style="display:table;margin:auto;padding-top:20%">
    <h2>
        Bạn không được cấp quyền để vào trang này mời bạn
        @Html.ActionLink("Trở về", "Index", "Home", null, null)
    </h2>
</div>