@using BHDT.Models;
@model IEnumerable<SanPham>
@{
                /**/

                /**/

                ViewBag.Title = "ProductDetail";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid">

</div>

